* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f3f7;
    font-family: 'Bellota Text', cursive;
}

.container {
    width: 1200px;
    margin: auto;
}

.section-heading {
    margin-top: 120px;
    font-size: 64px;
    color: #36187d;
}

.section-para {
    font-size: 20px;
    color: #6c758f;
    font-weight: 600;
    padding-bottom: 50px;
}

/* Header */
/* -------------------------------------------------------------------- */
header {
    overflow: auto;
    width: 100%;
    background-color: #f2f3f7;
    position: fixed;
    z-index: 100;
}

.website-name {
    color: #47b5ed;
    font-size: 45px;
    margin-top: 30px;
    float: left;
    transition: 0.3s;
}

.website-name:hover {
    color: #1283BC;
}

nav {
    float: right;
    padding: 20px 0 0;
    overflow: auto;
}

.links-words {
    list-style: none;
    float: left;
    margin-right: 150px;
}

.links {
    display: inline-block;
    margin: 28px 25px 0;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #6c758f;
    transition: 0.3s;
}

.links a:hover {
    color: #404555;
}

.icons-list {
    float: right;
    padding: 5px 16px 5px;
    margin-top: -5px;
}

.icons-list a {
    text-decoration: none;
    color: #0196e3;
    padding-right: 8px;
}

.icons-list a i {
    box-shadow: 4px 5px 15px rgb(210, 220, 233), -4px -5px 15px #fff;
    border-radius: 50%;
    padding: 1.6rem;
    margin: 5px 5px 10px;
    font-size: 1.6rem;
    transition: 0.3s;
}

.icons-list a i:hover {
    background-color: #F8F9FB;
}

/* Main */
/* -------------------------------------------------------------------- */

main {
    height: 100%;
    padding: 260px 0 192px;
}

.sub-header {
    color: #36187d;
    font-size: 27px;
    margin-bottom: 16px;
    padding-left: 80px;
}

.row {
    overflow: hidden;
    padding-left: 80px;
}

.main-header {
    font-size: 64px;
    font-weight: bold;
    color: #0196e3;
    width: 40%;
    float: left;
    position: relative;
}

.main-header::after {
    content: "";
    position: absolute;
    right: 55px;
    top: 0px;
    height: 162px;
    width: 3px;
    background-color: #0196e3;
}

.paragraph {
    color: #36187d;
    font-size: 20px;
    font-weight: bold;
    width: 53%;
    float: left;
    margin-top: 20px;
}

/* Features */
/* -------------------------------------------------------------------- */

.features {
    text-align: center;
}

.section-row {
    overflow: auto;
}

.section-item {
    padding: 32px 32px;
    float: left;
    width: 32%;
    border: none;
}

.center {
    margin: 0 2%;
}

.card {
    padding: 48px 20px;
    box-shadow: 4px 5px 10px rgb(210, 220, 233), -4px -5px 10px #fff;
    border-radius: 48px;
}

.card p i {
    font-size: 60px;
    color: #0196e3;
    margin-bottom: 26px;
}

.card .title {
    color: #36187d;
    font-size: 28px;
    margin-bottom: 16px;
}

.card .description {
    color: #6c758f;
    font-size: 20px;
    font-weight: 600;
}

/* About */
/* -------------------------------------------------------------------- */

.about {
    overflow: auto;
    padding: 192px 0 32px;
}

.about .heading {
    float: left;
    width: 50%;
}

.about .heading .section-heading {
    font-size: 45px;
    margin-top: 0;
}

.about .section-para {
    margin-top: 15px;
}

.about .about-text {
    width: 50%;
    float: left;
    font-size: 20px;
    color: #6c758f;
    font-weight: 600;
}

/* Products */
/* -------------------------------------------------------------------- */

.products {
    margin-top: 96px;
}

.products .section-heading {
    text-align: center;
    font-size: 45px;
    margin: 0 0 48px 0;
}

.products .products-content {
    overflow: auto;
}

.products .products-content .product-item {
    float: left;
    width: 47%;
    margin: 1.5%;
    padding: 0 16px;
    border: none;
}

.products .products-content .product-card {
    padding: 32px;
    border-radius: 50px;
    box-shadow: 7px 7px 15px #d2dce9, -7px -7px 20px white;
}

.products .products-content .top-line {
    overflow: auto;
    margin-bottom: 20px;
}

.products .products-content .top-line h2 {
    float: left;
    font-size: 27px;
    color: #36187d;
}

.products .products-content .top-line p {
    float: right;
    font-size: 27px;
    color: #6c758f;
}

.products .products-content .bottom-line {
    margin-bottom: 16px;
}

.products .products-content .bottom-line p strong {
    font-size: 19px;
    color: #6c758f;
    line-height: 30px;
}